@layer reset, base, tokens, recipes, utilities;

/* Scroll bar stylings */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #33333311;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

::-webkit-scrollbar-corner {
  display: none;
}

/* Custom color picker */
.sketch-picker label {
  color: var(--gray-a11) !important;
}

.sketch-picker input {
  color: rgb(40, 40, 40) !important;
  /* background-color: var(--color-surface) !important;
  box-shadow: inset 0 0 0 1px var(--gray-a7) !important;
  padding: 2px 1px !important;
  background-clip: content-box !important;
  border-radius: max(var(--radius-2), var(--radius-full)) !important;
  height: var(--space-4) !important;
  font-size: var(--font-size-1) !important;
  letter-spacing: var(--letter-spacing-2) !important; */
}

.sketch-picker .flexbox-fix {
  border-top: 1px solid var(--color-panel) !important;
}
